**/bin/
**/gen/
**/build/
**/classes/
**/.idea/
**/*.iml
.DS_Store
/Doors-uinty/Library
/Doors-uinty/Temp
/Doors-uinty/Assembly-CSharp-firstpass.csproj
*.csproj
/Doors-uinty/.vs/Doors-uinty/v15/Server/sqlite3
*.meta
*.suo
*.dtbcache
